<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello body1ew</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/header.css">
  <link rel="stylesheet" href="../stylesheets/h-menu.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
  <link rel="stylesheet" href="../stylesheets/services-block.css">
  <link rel="stylesheet" href="../stylesheets/subscript.css">
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../javascripts/h-menu.js"></script>
</head>
<body class="on-load">
	{% include "__blocks/svg.html" %}
  {% block content %}{% endblock %}
  <section class="j-section j-section--footer">{% include "__blocks/footer.html" %}</section>
  
  {% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    {#<script type="text/javascript" src="../javascripts/jquery.scrollify.min.js"></script>#}
    <script type="text/javascript" src="../javascripts/scrollify.js"></script>
    <script type="text/javascript" src="../javascripts/slick.min.js"></script>
    <script type="text/javascript" src="../javascripts/site.js"></script>
  {% endblock %}
</body>