<div class="j-container">
	<h2 class="h2 callback-title">Напишите нам,<br>
мы все осуществим</h2>
<div class="callback-viewport">
	<div class="callback-viewport__screen">

		<div class="callback-form">
			<input class="callback-form__control" name="name" type="text"  placeholder="Имя">
			<input class="callback-form__control" name="email" type="email"  placeholder="Email">
			<input class="callback-form__control" name="tel" type="tel"  placeholder="Номер телефона">
			<textarea class="callback-form__control callback-form__control--area"  name="message" placeholder="Описание мечты" ></textarea>
			<button type="submit" class="callback-form__btn">Отправить</button>
		</div>
	</div>
</div>
</div>