<div class="counters">
	<div class="j-container">
		<div class="counters__item">
			<div class="counters__number"><span><i class="i-icon i-icon--humans"></i><ins>600</ins></span></div>
			<div class="counters__caption">уникальных <br> посетителей</div>
		</div>
		<div class="counters__item">
			<div class="counters__number counters__number--lgmb"><span><i class="i-icon i-icon--megaphone"></i><ins>38</ins></span></div>
			<div class="counters__caption">мероприятий</div>
		</div>
		<div class="counters__item">
			<div class="counters__number"><span><i class="i-icon i-icon--tel"></i><ins>2784</ins></span></div>
			<div class="counters__caption">скачиваний <br>приложения</div>
		</div>
	</div>
</div>