<!--  <section class="j-section ">
	<div class="j-container ">
	
		
	</div>
</section> -->
<section class="j-section hero">
		<div class="hero-circle">
			<img class="hero-circle__cloud hero-circle__cloud--1 j-preload" src="../images/hero-cloud-1.png" alt="">
			<img class="hero-circle__cloud hero-circle__cloud--2 j-preload" src="../images/hero-cloud-2.png" alt="">
			<img class="hero-circle__cloud hero-circle__cloud--3 j-preload" src="../images/hero-cloud-3.png" alt="">
		</div>
    <div class="j-container i-fullheight">
        <div class="j-vcenter">
            <div class="j-vcenter__inner j-vcenter__inner--vat">
                {% include "__blocks/header.html" %}
                <div class="hero__container">
                    <div class="hero__row">
                        <div class="hero__col hero__col--left">
                            <h1 class="h1 hero__title">Приложение SAP&nbsp;CIS&nbsp;Events</h1>
                            <p class="hero__text">Мобильное приложение для&nbsp;организации и&nbsp;проведения мероприятий</p>
                            <a href="#" class="hero__btn">Посмотреть видео</a><br>
                            <a href="#"><img src="../images/apple.png" alt="Download on the App Store"></a>&emsp;<a href="#"><img src="../images/google.png" alt="Download on the App Store"></a>
                        </div>
                        <div class="hero__col">
                            <img src="../images/hero-img.png" class="hero__img j-preload" alt="">
                        </div>
                    </div>
                    <div class="hero-scroller"><i class="i-icon i-icon--scroll"></i> <i class="i-icon i-icon--arrdown"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
