<div class="listing">
		<div class="listing__item listing__item--top">
				<div class="listing__inner">
						<div class="listing__col listing__col--left">
								<img src="../images/listing-logo.png" class="j-preload" alt="">
						</div>
						<div class="listing__col">
								<h2 class="h2 listing__header">Приложение, которое делает ваше мероприятие лучше</h2>
						</div>
				</div>
		</div>
		<div class="listing__item">
				<div class="listing__inner">
						<div class="listing__col listing__col--left">
								<div class="listing-icon">
										<i class="i-icon i-icon--halls"></i>
								</div>
						</div>
						<div class="listing__col">
								<p class="listing__text">Компания SAP CIS, подразделение SAP в&nbsp;странах СНГ, часто проводит мероприятия с&nbsp;различными тематиками, составом участников и&nbsp;масштабом. На&nbsp;одном мероприятии доклады и&nbsp;обсуждения могут разворачиваться более чем в&nbsp;20&nbsp;залах одновременно. Одно из&nbsp;значимых событий в&nbsp;жизни компании&nbsp;&mdash; проведение SAP Forum, в&nbsp;котором ежегодно принимают участие несколько тысяч человек.</p>
						</div>
				</div>
		</div>
		<div class="listing__item">
				<div class="listing__inner">
						<div class="listing__col listing__col--left">
								<div class="listing-icon">
										<i class="i-icon i-icon--app"></i>
								</div>
						</div>
						<div class="listing__col">
								<p class="listing__text">Именно к&nbsp;SAP Forum 10&nbsp;апреля 2014 года в&nbsp;SAP CIS решили запустить мобильное приложение для бизнес-мероприятий. Оно должно было помочь участникам разобраться с&nbsp;программой без бумажной раздатки и&nbsp;позволило&nbsp;бы составлять каждому слушателю свою персональную программу посещения форума и&nbsp;отслеживать все доклады в&nbsp;live-режиме.</p>
						</div>
				</div>
		</div>
</div>
